
div{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.text {
    font-size: 16px;
    color: black; 
  
    &.followed {
      color: rgb(53, 228, 53); 
    }
  
    &.not-followed {
      color: red; 
    }
  }