<div>
    <h3>{{ post.name }}</h3>
    <img src="{{ post.img }}" alt="{{ post.name }}">
    <img src="{{ post.liked  ? 'assets/imgForAngularInsta/img/heart-red.png' : 'assets/imgForAngularInsta/img/heart-black.png' }}" 
    alt="Like" 
    (click)="toggleLike(post)" >
    <p>Likes: {{ post.likes }}</p>
    <p>Likes: {{ post.comments }}</p>
    <div>
        <input [(ngModel)]="comment" type="text">
        <button (click)="addNewComment()">send</button>
        @for(comment of post.comments; track $index){
            <span> Comment: {{ comment }} </span>
        }
    </div>
</div>
